html,
body,
#app {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff2')
    format('woff2');
}
